**Цель работы:**

Осуществить предварительную обработку данных csv-файла, выявить и устранить проблемы в этих данных.

# Загрузка набора данных

### Описание предметной области

Вариант №:3

Набор данных: salary.csv
 
Атрибуты:
1.	Год выплаты заработной платы (целое число)
2.	Тип работы (PT - Part-time, FT - Full-time, FL - Freelance)
3.	Должность
4.	Зарплата за год (целое число)
5.	Зарплата в долларах (целое число)
6.	Страна проживания
7.	Страна главного офиса
8.	Среднее кол-во людей в компании (S  менее 50
сотрудников (малая), M от 50 до 250 сотрудников (средняя), L - более 250 сотрудников (крупная))

### 1.Чтение файла (набора данных)

Загружен датасет из файла salary.csv с разделителем ";".

In [18]:
import pandas as pd
df = pd.read_csv('salary.csv', sep=';')

### 2. Обзор данных

2.1 Вывод первых 20 строк с помощью метода head.

In [19]:
df.head(20)

,work_year,employment_type,job_title,salary,salary_in_usd,employee_residence,company_location,company_size
0,2020.0,FT,Data SCIENTIST,70000.0,79833.0,DE,DE,L
1,2020.0,FT,Product Data Analyst,20000.0,20000.0,HN,HN,S
2,2020.0,FT,Data Analyst,72000.0,72000.0,US,US,L
3,2020.0,FT,Data Scientist,11000000.0,35735.0,HU,HU,L
4,2020.0,FT,Data Scientist,45000.0,51321.0,FR,FR,S
5,2020.0,FT,Data Scientist,3000000.0,40481.0,IN,IN,L
6,2020.0,FT,Data Scientist,35000.0,39916.0,FR,FR,M
7,2020.0,FT,Data Analyst,85000.0,85000.0,US,US,L
8,2020.0,FT,Data Analyst,8000.0,8000.0,PK,PK,Large
9,2020.0,FT,Data Engineer,4450000.0,41689.0,JP,JP,S
10,2020.0,FT,Product Data Analyst,450000.0,6072.0,IN,IN,L
11,2020.0,FT,Data Engineer,42000.0,47899.0,GR,GR,L
12,2020.0,FT,Data Engineer,720000.0,33511.0,MX,MX,S
13,2020.0,FT,Machine Learning Manager,157000.0,117104.0,CA,CA,L
14,2020.0,FT,Data Scientist,60000.0,68428.0,GR,US,L
15,2020.0,FT,Data Analyst,41000.0,46759.0,FR,FR,L
16,2020.0,FT,Data Engineer,65000.0,74130.0,AT,AT,L
17,2020.0,FT,Data Analyst,10000.0,10000.0,NG,NG,S
18,2020.0,FT,Data Scientist,45760.0,45760.0,PH,US,S
19,2020.0,FT,Data Engineer,106000.0,106000.0,US,US,L

2.2 Оценка данных с помощью метода info.

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 401 entries, 0 to 400
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   work_year           401 non-null    float64
 1   employment_type     401 non-null    object
 2   job_title           401 non-null    object
 3   salary              398 non-null    float64
 4   salary_in_usd       401 non-null    float64
 5   employee_residence  401 non-null    object
 6   company_location    401 non-null    object
 7   company_size        401 non-null    object
dtypes: float64(3), object(5)
memory usage: 25.2+ KB

2.3 Оценка данных с помощью метода describe.

In [21]:
df.describe()

         work_year        salary  salary_in_usd
count   401.000000  3.980000e+02     401.000000
mean   2021.528678  2.888336e+05  105895.017456
std       0.678086  1.677081e+06   58183.664171
min    2020.000000  4.000000e+03    2859.000000
25%    2021.000000  6.700000e+04   65013.000000
50%    2022.000000  1.091400e+05  100000.000000
75%    2022.000000  1.500000e+05  140000.000000
max    2022.000000  3.040000e+07  412000.000000

Выводы: каждый столбец является числовым и отображает результат применения статистических функций ко всем значениям соответствующего столбца исходной таблицы. В строке 'count' представлено количество непустых значений, в строке 'mean' - среднее арифметическое, в 'std' - стандартное отклонение, в 'min'/'max' - минимальное и максимальное значения, а в перцентилях (25%, 50%, 75%) - соответствующие квантили распределения данных.

 2.4 Оценка названий столбцов

In [22]:
print(df.columns.tolist())

['work_year', 'employment_type', 'job_title', 'salary', 'salary_in_usd', 'employee_residence', 'company_location', 'company_size']

### 3. Проверка пропусков

В соответствие с выполнением метода info() ранее, выявлено 3 строки, в которых поле 'salary' является пустым. Их следует удалить с помощью метода dropna()

In [23]:
df.isnull().sum()
df_cleaned = df.dropna(subset=['salary'])
print(f"Удалено записей: {len(df) - len(df_cleaned)}")
df = df_cleaned

Удалено записей: 3


---

**Вы должны аргументировать на защите, почему были выполнены те или иные действия с пропусками, а также знать другие способы работы с пропусками, чтобы
 ответить на вопросы на защите.**


 ---

### 4. Проверка дубликатов

#### Проверка явных дубликатов

Для проверки явных дубликатов следует использовать стандартный метод duplicated() и просуммировать результирующую таблицу.

In [31]:
if duplicate_count > 0:
    df = df.drop_duplicates()

In [32]:
duplicate_count = df.duplicated().sum()
print(duplicate_count)

0

Для проверки явных дубликатов следует использовать стандартный метод duplicated() и просуммировать результирующую таблицу.

#### Проверка неявных дубликатов

Выводим все уникальные значения столбцов для выявления похожих значений и соответствующего их удаления. С учетом информативного содержания, интересующими столбцами являются 'job_title' и 'company_size'

In [9]:
def display_implicit_duplicates(): 
    for col in df.columns:
        if col == 'job_title' or col == 'company_size': 
            print(col, df[col].unique())

display_implicit_duplicates()

job_title ['Data SCIENTIST' 'Product Data Analyst' 'Data Analyst' 'Data Scientist'
 'Data Engineer' 'Machine Learning Manager' 'Data Analytics Engineer'
 'Data Science Engineer' 'Machine Learning Developer'
 'Data Analytics Manager' 'Head of Data Science'
 'Head of Machine Learning' 'NLP Engineer' 'Data Analytics Lead'
 'DataScientist' 'Data AnalyticsManager']
company_size ['L' 'S' 'M' 'Large']

Теперь, произведём замену неявных дубликатов на соответствующие варианты. Также отобразим уникальные значения, чтобы проверить, что замена прошла корректно.

In [10]:
df['company_size'] = df['company_size'].replace('Large', 'L')
df['job_title'] = df['job_title'].replace('Data SCIENTIST', 'Data Scientist')
    .replace('DataScientist', 'Data Scientist')
        .replace('Data AnalyticsManager', 'Data Analytics Manager')

display_implicit_duplicates()

job_title ['Data Scientist' 'Product Data Analyst' 'Data Analyst' 'Data Engineer'
 'Machine Learning Manager' 'Data Analytics Engineer'
 'Data Science Engineer' 'Machine Learning Developer'
 'Data Analytics Manager' 'Head of Data Science'
 'Head of Machine Learning' 'NLP Engineer' 'Data Analytics Lead']
company_size ['L' 'S' 'M']

/var/folders/6b/mtrg9ql91mxfr0qrtq79_x3w0000gn/T/ipykernel_6310/419017278.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['company_size'] = df['company_size'].replace('Large', 'L')
/var/folders/6b/mtrg9ql91mxfr0qrtq79_x3w0000gn/T/ipykernel_6310/419017278.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['job_title'] = df['job_title'].replace(

---

**Вы должны аргументировать на защите, почему были выполнены те или иные действия с дубликатами, знать, что такое явные и неявные дубликаты и способы работы с ними, чтобы ответить на вопросы на защите.**


 ---

### 5. Провека типов данных

In [11]:
print(df.dtypes)

work_year             float64
employment_type        object
job_title              object
salary                float64
salary_in_usd         float64
employee_residence     object
company_location       object
company_size           object
dtype: object

---

**Обратите внимание, что во всех вариантах необходимо сделать приведение типов. Будьте готовы на защите аргументировать проверку типов (почему выполнены те или иные преобразования).**


 ---

In [12]:
df['work_year'] = df['work_year'].astype('int64')
df['salary'] = df['salary'].astype('int64')
df['salary_in_usd'] = df['salary_in_usd'].astype('int64')

/var/folders/6b/mtrg9ql91mxfr0qrtq79_x3w0000gn/T/ipykernel_6310/177642152.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['work_year'] = df['work_year'].astype('int64')
/var/folders/6b/mtrg9ql91mxfr0qrtq79_x3w0000gn/T/ipykernel_6310/177642152.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['employment_type'] = df['employment_type'].astype('category')
/var/folders/6b/mtrg9ql91mxfr0qrtq79_x3w0000gn/T/ipykernel_6310/177642152.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['salary'] = df['salary'].astype('int64')
/var/folders/6b/mtrg9ql91mxfr0qrtq79_x3w0000gn/T/ipykernel_6310/177642152.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['salary_in_usd'] = df['salary_in_usd'].astype('int64')

Для приведения данных к единому формату выполнено преобразование типов столбцов work_year, salary и salary_in_usd в целочисленный тип int64

### 6. Группировка данных

#### Задание 1

Группировка - “employment_typeˮ и количество каждой локации “company_locationˮ. Результат должен быть выведен в следующем формате (на скриншоте представлен фрагмент).

In [13]:
df.groupby(['employment_type', 'company_location'], observed=True).size()

employment_type  company_location
FL               US                    2
FT               AT                    3
                 AU                    1
                 BR                    1
                 CA                   15
                 CH                    1
                 CL                    1
                 DE                   11
                 ES                    9
                 FR                   11
                 GB                   32
                 GR                    9
                 HN                    1
                 HU                    1
                 IL                    1
                 IN                   13
                 IQ                    1
                 IR                    1
                 JP                    1
                 LU                    1
                 MT                    1
                 MX                    3
                 MY                    1
                 NG                    2
                 NL                    1
                 PK                    2
                 PL                    2
                 RU                    1
                 TR                    3
                 UA                    1
                 US                  205
                 VN                    1
PT               DE                    1
                 DZ                    1
                 ES                    1
                 IT                    1
                 NL                    1
dtype: int64

Вывод: Данные показывают четкое географическое распределение типов занятости:

---

**Обратите внимание, что на защите вы должны ориентироваться в синтаксисе. При необходимости нужно быть готовым изменить код по просьбе преподавателя. Например, вместо среднего значения подсчитать медиану и т.д.**


 ---

#### Задание 2

Задание 2: Группировка - “work_yearˮ и количество компаний каждого размера. Создать датафрейм. Переименовать столбец с количеством в “сountˮ. Отсортировать по убыванию столбца “countˮ.

In [27]:
new_df = (
    df.groupby('employment_type', observed=True)['company_location']
    .size()
    .reset_index(name='count')
    .sort_values('count', ascending=True)
)
new_df

  employment_type  count
0              FL      2
2              PT      5
1              FT    337

Вывод: Результат показывает количество записей для каждого типа занятости:

---

**Обратите внимание, что на защите вы должны ориентироваться в синтаксисе. При необходимости нужно быть готовым изменить код по просьбе преподавателя. Например, вместо среднего значения подсчитать медиану и т.д.**


 ---

#### Задание 3

Сводная таблица (pivot_table) - средняя зарплата в usd по должностям (ˮjob_titleˮ). 
Отсортировать по убыванию. 
Округлить до двух знаков после запятой. 
Переименовать столбец “salary_in_usdˮ в “зарплатаˮ.

In [15]:
pivot_table = df.pivot_table(
    values='salary_in_usd',  
    index='job_title',      
    aggfunc='mean'  
)

pivot_table = pivot_table.rename(columns={'salary_in_usd': 'зарплата'})

pivot_table['зарплата'] = pivot_table['зарплата'].round(2)

pivot_table_sorted = pivot_table.sort_values('зарплата', ascending=False)
print(pivot_table_sorted.to_string())

                             зарплата
job_title
Data Analytics Lead         405000.00
Head of Data Science        146718.75
Data Analytics Manager      127134.29
Machine Learning Manager    117104.00
Data Engineer               109295.46
Data Scientist              101784.58
Machine Learning Developer   89395.50
Data Analyst                 88303.45
Head of Machine Learning     79039.00
Data Science Engineer        75803.33
Data Analytics Engineer      64799.25
NLP Engineer                 37236.00
Product Data Analyst         13036.00

Результаты сводной таблицы показывают значительный разброс в уровне медианных зарплат в зависимости от должности.

---

**Обратите внимание, что на защите вы должны ориентироваться в синтаксисе. При необходимости нужно быть готовым изменить код по просьбе преподавателя. Например, вместо среднего значения подсчитать медиану и т.д.**


 ---

#### Задание 4

Сводная таблица (pivot_table) - медианная зарплата по годам - строки, и по “employment_typeˮ - столбцы. 
Отсортировать по убыванию годов.

In [16]:
pivot_table = df.pivot_table(
    values='salary_in_usd',      
    index='work_year',         
    columns='employment_type',   
    aggfunc='median'        
).sort_index(ascending=False).round(2)


print(pivot_table.to_string())

employment_type        FL        FT       PT
work_year
2022             100000.0  115967.0  77478.5
2021              20000.0   79598.5  40047.5
2020                  NaN   68428.0  21669.0

/var/folders/6b/mtrg9ql91mxfr0qrtq79_x3w0000gn/T/ipykernel_6310/2397531699.py:1: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  pivot_table = df.pivot_table(

Вывод: Из результата можно увидеть динамику изменения медианных зарплат.

---

**Обратите внимание, что на защите вы должны ориентироваться в синтаксисе. При необходимости нужно быть готовым изменить код по просьбе преподавателя. Например, вместо среднего значения подсчитать медиану и т.д.**


 ---

### Вывод

В рамках практической работы освоены базовые навыки работы в среде Jupyter Notebook и форматирования документов с использованием Markdown. Проведено знакомство с функционалом библиотеки pandas для обработки и анализа структурированных данных в формате CSV. Практически изучены методы первичного анализа данных, группировки информации и построения сводных таблиц средствами языка Python.

### Дополнительное задание

**`Подробная формулировка задания`**

In [17]:
# код выполнения задания

***`Подробный вывод по заданию, описание полученных результатов`***